<section class="card">
  <a href="/teams/{{id}}">
    <header>{{name}}</header>
    <!-- The card contains the first painting of the gallery -->
    <img src="/images/{{team.id.filename}}" alt="team logo">
  </a>
</section>

