<div class="card teamCard mx-2" style="width: 18rem;">
  <a href="/teams/{{id}}">
    <img class="card-img-top" src="/images/{{filename}}" alt="team logo">
  </a>
  <div class="card-body">
    <p class="card-title text-center font-weight-bold">{{name}}</p>
  </div>
</div>
