<div class="container">
  <div class="row">
    <div class="col">
      <table class="score-table">
        <thead>
          <tr>
            <th></th>
            <th>Final Score</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>
                <img src="/images/devils-lowres.png">
              </span>
            </td>
            <td><button type="button" class="btn btn-outline-secondary">3 | 3</button></td>
            <td>
              <span>
                <img src="/images/lightning-lowres.png">
              </span>
            </td>
          </tr>
                  <tr>
            <td>
              <span>
                <img src="/images/lightning-lowres.png">
              </span>
            </td>
            <td><button type="button" class="btn btn-outline-secondary">2 | 0</button></td>
            <td>
              <span>
                <img src="/images/chargers-lowres.png">
              </span>
            </td>
          </tr>
                  <tr>
            <td>
              <span>
                <img src="/images/bobcats-lowres.png">
              </span>
            </td>
            <td><button type="button" class="btn btn-outline-secondary">1 | 2</button></td>
            <td>
              <span>
                <img src="/images/devils-lowres.png">
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col mt-2">
      <img src="/images/afcr.png" class="img" alt="team" />

    </div>
  </div>

</div>


<div class="card m-4">
  <div class="card-header card-header-bg text-center">
   Featured News
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Next Game Details</h5>
    <p class="card-text text-center">Friday, May 12, 8:00pm</p>
    <p class="card-text text-center">Fort Wayne Park Fields</p>
  </div>
</div>


<div>
  <footer class="footer-bg">
    <hr>
    <h6 class="mx-auto" style="width: 200px;">Made with ♥️ </h6>
    <hr>
  </footer>
</div>