<div class="container">
  <div class="row">
    <div class="col">
      <table class="score-table">
        <thead>
          <tr>
            <th></th>
            <th>Final Score</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="team-name">HBE</span>
            </td>
            <td><button type="button" class="btn btn-outline-secondary">3 | 3</button></td>
            <td>
              <span class="team-name">WB</span>
            </td>
          </tr>

          <!-- Add more rows for other teams -->
        </tbody>
      </table>
    </div>
    <div class="col mt-2">
      <img src="/images/afcr.png" class="img-fluid img" alt="Responsive image" />

    </div>
  </div>

</div>


<div class="card m-4">
  <div class="card-header card-header-bg text-center">
   {{language.featured-news}}
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Lorem ipsum dolor sit amet.</h5>
    <p class="card-text text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae unde a eaque quae quibusdam eligendi!</p>
  </div>
</div>


<div>
  <footer class="footer-bg">
    <hr>
    <h6 class="mx-auto" style="width: 200px;">Made with ♥️ </h6>
    <hr>
  </footer>
</div>