<div class="login-form">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt">
					<img src="/images/soccer-login.png" alt="IMG">
				</div>

				<form class="login-form">
					<span class="login100-form-title">
						Coach Login
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" name="email" placeholder="Email" id="email-login">
					</div>

					<div class="wrap-input100">
						<input class="input100" type="password" name="pass" placeholder="Password" id="password-login">
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>










{{!-- <h2>Login</h2>

<form class="mx-3 mt-3 p-4 border border-secondary rounded login-form text-center">
  <div class="form-group row">
    <div class="col">
       <label for="email-login" class="col-sm-2 col-form-label">Email</label>
    <input class="form-input" type="text"  />
    </div>
  </div>

  <div class="form-group row">
    <div class="col my-2">
      <label for="password-login" class="col-sm-2 col-form-label">Password</label>
    <input class="form-input" type="password"  />
    </div>
    
  </div>
  <div class="form-group row">
    <div class="col ">
       <button class="btn btn-secondary px-3 w-15" type="submit">Login</button>
    </div>
     
    
    
  </div>
</form> --}}

<script src="/js/login.js"></script> 
