<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt">
					<img src="https://2.bp.blogspot.com/-l9nGy2e3PnA/XLzG5A6u_cI/AAAAAAAAAgI/31bl8XZOrTwN0kTN8c18YOG3OhNiTUrsQCLcBGAs/s1600/rocket.png" alt="IMG">
				</div>

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>










{{!-- <h2>Login</h2>

<form class="mx-3 mt-3 p-4 border border-secondary rounded login-form text-center">
  <div class="form-group row">
    <div class="col">
       <label for="email-login" class="col-sm-2 col-form-label">Email</label>
    <input class="form-input" type="text" id="email-login" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col my-2">
      <label for="password-login" class="col-sm-2 col-form-label">Password</label>
    <input class="form-input" type="password" id="password-login" />
    </div>
    
  </div>
  <div class="form-group row">
    <div class="col ">
       <button class="btn btn-secondary px-3 w-15" type="submit">Login</button>
    </div>
     
    
    
  </div>
</form> --}}

<script src="/js/login.js"></script> 
