<h1>Add a New Player</h1>
<form class="mx-3 mt-3 p-4 border border-secondary rounded" id="new-player-form">
        <div class="row">
            <div class="col">
                <label for="Player name">Player Name</label>
              <input type="text" class="form-control" placeholder="First name" id="playerName">
            </div>
            <div class="col">
                <label for="Jersey Number">Jersey Number</label>
              <input type="text" class="form-control" placeholder="Last name" id="jerseyNumber">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
                <div class="form-group col-md-4">
                <label for="inputState">Right foot</label>
                <select id="rightFoot" class="form-control">
                  <option selected>Choose...</option>
                  <option>Weak</option>
                  <option>Strong</option>
                </select>
              </div>
            </div>
            <div class="col">

                <div class="form-group col-md-4">
                    <label for="inputState">Left Foot</label>
                    <select id="leftFoot" class="form-control">
                      <option selected>Choose...</option>
                      <option>Weak</option>
                      <option>Strong</option>
                    </select>
                  </div>
            </div>
    
                
                

          </div>
         
          
          <hr>
        <div class="form-group col-md-4">
            <label for="inputState">Position</label>
            <select id="position" class="form-control">
              <option selected>Choose...</option>
              <option>LB</option>
              <option>CB</option>
              <option>DCM</option>
              <option>CF</option>
              <option>RW</option>
              <option>LW</option>
              <option>CM</option>
              <option>CAM</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Team</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Devils</option>
              <option>Lightning</option>
              <option>Chargers</option>
              <option>Bobcats</option>
            </select>
          </div>
          <button type="submit" class="btn btn-secondary mt-4 px-5">Submit</button>
      </form>