<section class="container">
  <h3 class="team-name"> {{team.name}} </h3>

  {{#each teams as |team|}}
  {{> team-details}}
  {{/each}}


</section>


{{!-- 
<h1>Teams and Players</h1>
<ul>
  {{#each teams}}
    <li>
      <h2>{{this.name}}</h2>
      <ul>
        {{#each this.players}}
          <li>{{this.name}} - {{this.position}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
 --}}

